/*this*/
body {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Helvetica,Arial,Verdana,sans-serif !important;
}
/*this*/
.navbar {
  /*margin-bottom:5px;*/
  margin: 0;
  padding: 0;
}
/*this*/
.contentView {
  display:inline;
  position:absolute;
}
/*this*/
/* side nav */
.side-nav {
  margin-left:1%;
}
.side-nav-list {
  list-style: none;
}
/*Tab content*/
.tab-content {
  float:left;
  display:inline;
  max-width:100%;
}
.edit-button {
  float:right;
}
/*profile tab */
.care-side-bar {
  border-left:1px solid lightgrey;
  padding-left:1%;
}
.update-alert-container {
  display:inline-block;
  width:100%;
  border:1px solid green;
}
.updates {
  display:inline-block;
  float:left;
  width:40%;
  height:400px;
  background-color:#FFFFA3;
  /*margin:20px 20px 0 20px;*/
  box-sizing: border-box;
  border:1px solid pink;
}
.updates table {
  margin:0 auto;
  padding:0 5px 0 5px;
}
.updates h4 {
  margin:0 auto;
  /*color:green;*/
  text-align:center;
  padding-top:5px
}
.updates ul {
  list-style:none;
  /*margin-left:10%;*/
}
.other-info {
  padding-left:5%;
  border-top:1px solid lightgrey;
}
.other-info p {
  display:inline;
}
.other-info p ~ h5 {
  display:inline;
}
.other-info {
}
.alerts {
  box-sizing: border-box;
  display:inline-block;
  float:left;
  width:57%;
  height:400px;
  background-color:#FFFFA3;
  margin-left:3%;
  /*margin:0 20px 0 0;*/
  border:1px solid blue;

}
.alert-table {
  text-align:left;
  margin:0 auto;
  background-color:lightgrey;
  border-radius:5px;
}
.alerts-table-div:first-child {
  margin-top:10px
}
.alerts-table-div {
  border-bottom:1px solid lightgrey;
  margin-bottom:5px
}
.glyphicon-big {
  font-size:300%;
}
h3, h5 {
  line-height:10%;
}
.profile-table td {
  padding-right: 5px;
}
.glyphicon-ok {
  color:green;
}
.glyphicon-remove {
  color:red;
}
th .glyphicon-big{
  padding: 15px;
}
.th-glyph {
  background-color:#99FFCC;
}
td {
  padding:0 5px 0 5px;
}
